PORT=8787
ADMIN_API_KEY=toncrime_admin_260602
SUPABASE_URL=https://https://ubcyamjoektbbxbrjtyy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViY3lhbWpvZWt0YmJ4YnJqdHl5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc5ODYzNCwiZXhwIjoyMDg4Mzc0NjM0fQ.F17AxNrtN_IznkRJecA7N7Nl3UwHLur8W1HNTe-MfWc

TON_RPC_ENDPOINT=https://toncenter.com/api/v2/jsonRPC
TON_WALLET_MNEMONIC=word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24
TON_WALLET_WORKCHAIN=0
